In [4]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 
# all import functions here 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from termcolor import colored # data visualization tool
from bokeh.plotting import figure, show, output_notebook 
from bokeh.layouts import gridplot
from bokeh.models import ColumnarDataSource

from sklearn.linear_model import LinearRegression # model 
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split


# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input")) 

# Any results you write to the current directory are saved as output.

['order_products__train.csv', 'products.csv', 'departments.csv', 'order_products__prior.csv', 'orders.csv', 'sample_submission.csv', 'aisles.csv']

In [ ]:
# visualize the data with bokeh plotting for data visualization 
# consider what data you need, try dow and days since previous order in linear regression model
# join the dfs to find all orders from a user_id, and all products from an order

In [ ]:
kaggle_files = os.listdir("../input/")

In [46]:
# put data into data frames, and organize it in a neat way to read

for file_name in kaggle_files:
#    shortcut
# print('df_' + file_name[:-4] + (len(max(kaggle_files, key=len))-len(file_name))*' ' + " = pd.read_csv('../input/" + file_name + "')")

    df_order_products__train = pd.read_csv('../input/order_products__train.csv')
    df_products = pd.read_csv('../input/products.csv')
    df_departments = pd.read_csv('../input/departments.csv')
    df_order_products__prior = pd.read_csv('../input/order_products__prior.csv')
    df_orders = pd.read_csv('../input/orders.csv')
    df_aisles = pd.read_csv('../input/aisles.csv')
    df_sample_submission = pd.read_csv('../input/sample_submission.csv')

In [57]:
# get sample of data DataFrame.head(n=x); head, tail, sample, n = no. of results 
df_order_products__train.sample(n=2)

        order_id  product_id  add_to_cart_order  reordered
117068    285928       48784                 14          0
661171   1626561       42392                  6          1

In [58]:
df_orders.sample(n=2)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
554073,2609511,33407,prior,10,6,17,6.0
2811889,2274292,169650,test,24,2,16,30.0

In [60]:
df_products.head(n=2)

   product_id                product_name  aisle_id  department_id
0           1  Chocolate Sandwich Cookies        61             19
1           2            All-Seasons Salt       104             13

In [63]:
df_departments.head(n=2)

   department_id department
0              1     frozen
1              2      other

In [67]:
# consider what data you need, try dow and days since previous order in linear regression model
# join the dfs to find all orders from a user_id, and all products from an order 

df_user_order = df_order_products__train.join ( df_orders.set_index( [ 'order_id' ], verify_integrity=True ),
               on=[ 'order_id' ], how='left' )
df_user_order.head(n=2)

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,49302,1,1,112108,train,4,4,10,9.0
1,1,11109,2,1,112108,train,4,4,10,9.0

In [70]:
df_user_product_info = df_user_order.join (df_products.set_index (['product_id'], verify_integrity=True),
                                        on=['product_id'],how='left')
df_user_product_info.head(n=2)

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id
0,1,49302,1,1,112108,train,4,4,10,9.0,Bulgarian Yogurt,120,16
1,1,11109,2,1,112108,train,4,4,10,9.0,Organic 4% Milk Fat Whole Milk Cottage Cheese,108,16